<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Data Analysis</title>
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <link rel="stylesheet" href="../static/css/comon0.css">
</head>
<script type="text/javascript" src="../static/js/loading.js"></script>
<script type="text/javascript" src="../static/js/echarts.min.js"></script>



<body>

<div class="canvas" style="opacity: 0.9">
    <iframe frameborder="0" src="../static/js/index.html" style="width: 100%; height: 100%"></iframe>
</div>

<div class="loading">
    <div class="loadbox"><img src="../static/picture/loading.gif"> I Am Currently Loading...</div>
</div>

<div class="head">

    <h1>{{title}}</h1>

    <div class="weather">
        <img src="../static/picture/weather.png"><span>I Am The Weather</span>
        <span id="showTime"></span>
    </div>

    <script type="text/javascript" src="../static/js/showtime.js"></script>

</div>
<style>
    /* Custom CSS to adjust column widths */
    .mainbox ul {
        display: flex;
        justify-content: space-between;
    }

    /* Set the width of the first and third columns */
    .mainbox ul li.column {
        flex: 1;
        /* This will make all columns equal width */
        max-width: 25%;
        /* Reduce width to 25% for both side columns */
    }

    /* Set the width of the second (middle) column */
    .mainbox ul li.column:nth-child(2) {
        max-width: 50%;
        /* Increase width to 50% for the middle column */
    }
</style>

<div class="mainbox">
    <ul class="clearfix" >

        <li>
            <div class="boxall" style="height: 3.2rem" >
                <div class="alltitle">{{form.echart1.title}}</div>
                <div class="allnav" id="echart1"></div>
                <div class="boxfoot"></div>
            </div>
            <div class="boxall" style="height: 3.1rem">
                <div class="alltitle">{{form.echart2.title}}</div>
                <div class="allnav" id="echart2"></div>
                <div class="boxfoot"></div>
            </div>
            <div class="boxall" style="height: 3.3rem">
                <div class="alltitle">Malicious Package Static API Calls(PyPI)</div>
                <div style="height:90%; width: 100%;">
                    <div class="sy" id="fb1"></div>
                    <div class="sy" id="fb2"></div>
                    <div class="sy" id="fb3"></div>
                </div>
                <div class="boxfoot">

                </div>
            </div>
        </li>

        <li>
            <div class="bar">
                <div class="barbox">
                    <ul class="clearfix">
                        <li class="pulll_left counter">{{form.counter.value}}</li>
                        <li class="pulll_left counter">{{form.counter2.value}}</li>
                    </ul>
                </div>
                <div class="barbox2">
                    <ul class="clearfix">
                        <li class="pulll_left">{{form.counter.name}}</li>
                        <li class="pulll_left">{{form.counter2.name}}</li>
                    </ul>
                </div>
            </div>
            <div class="map">
                <div class="map1"><img src="../static/picture/lbx.png"></div>
                <div class="map2"><img src="../static/picture/jt.png"></div>
                <div class="map3"><img src="../static/picture/my.png"></div>
                <div class="map4" id="map_1"></div>
            </div>
        </li>

        <li>
            <div class="boxall" style="height:3.4rem">
                <div class="alltitle">{{form.echart4.title}}</div>
                <div class="allnav" id="echart4"></div>
                <div class="boxfoot"></div>
            </div>
            <div class="boxall" style="height: 3.2rem">
                <div class="alltitle">Malicious Package Static API Calls(RubyGems)</div>
                <div class="allnav" id="echart5"></div>
                <div class="boxfoot"></div>
            </div>
           
            <div class="boxall" style="height: 3.2rem">
                <div class="alltitle">Malicious Package Dynamic API Calls(NPM)</div>
                <div style="height:90%; width: 100%;">
                    <div class="sy" id="fb4"></div>
                    <div class="sy" id="fb5"></div>
                    <div class="sy" id="fb6"></div>
                </div>
                <div class="boxfoot">
            
                </div>
            </div>
        </li>

    </ul>
</div>
<div class="back"></div>



<!--echart1-->
<script>
$(function echarts_1() {
    var myChart = echarts.init(document.getElementById('echart1'));

    option = {
    backgroundColor: '#00265f',    
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'shadow'
        }
    },
    grid: {         
        left: '0%',
        top: '0%',
		//top:'10px',
        right: '0%',
        bottom: '4%',
        containLabel: true   
    },
    xAxis: [{
        type: 'category',
        data: {{form.echart1.xAxis|safe}},
        axisLine: {
            show: true,
            lineStyle: {
                color: "rgba(255,255,255,.1)",
                width: 1,
                type: "solid"
            },
        },
        axisTick: { show: false,},
		axisLabel:  {
                interval: 0,
                rotate:50,
                show: true,
                splitNumber: 15,
                textStyle: {
 					color: "rgba(255,255,255,.6)",
                    fontSize: '12',},
                },}],

    yAxis: [{
        type: 'value',
        axisLabel: {
       //formatter: '{value} %'
        show:true,
         textStyle: {
                color: "rgba(255,255,255,.6)",
                fontSize: '12',
                },
        },
        axisTick: {
            show: false,
        },
        axisLine: {
            show: true,
            lineStyle: {
                color: "rgba(255,255,255,.1	)",
                width: 1,
                type: "solid"
            },
        },
        splitLine: {
            lineStyle: {
               color: "rgba(255,255,255,.1)",
            }
        }
    }],
    series: [
		{
        type: 'bar',
        data: {{form.echart1.series|safe}},
        barWidth:'35%', 
        itemStyle: {
            normal: {
                color:'#2f89cf',
                opacity: 1,
				barBorderRadius: 5,
            }
        }
    }

	]
};

        myChart.setOption(option);
        window.addEventListener("resize",function(){
            myChart.resize();
        });
    })

</script>


<!--echart2-->
<script>
  $(function echarts_2() {
        var myChart = echarts.init(document.getElementById('echart2'));

       option = {
  //  backgroundColor: '#00265f',
    tooltip: {
        trigger: 'axis',
        axisPointer: { type: 'shadow'}
    },
    grid: {
        left: '0%',
		top:'10px',
        right: '0%',
        bottom: '4%',
       containLabel: true
    },
    
    xAxis: [{
        type: 'category',
      		data: {{form.echart2.xAxis|safe}},
        axisLine: {
            show: true,
         lineStyle: {
                color: "rgba(255,255,255,.1)",
                width: 1,
                type: "solid"
            },
        },

        axisTick: {
            show: false,
        },
		axisLabel:  {
                interval: 0,
               rotate:30,
                show: true,
                splitNumber: 15,
                textStyle: {
 					color: "rgba(255,255,255,.6)",
                    fontSize: '12',
                },
            },
    }],
    yAxis: [{
        type: 'value',
        axisLabel: {
           //formatter: '{value} %'
			show:true,
			 textStyle: {
 					color: "rgba(255,255,255,.6)",
                    fontSize: '12',
                },
        },
        axisTick: {
            show: false,
        },
        axisLine: {
            show: true,
            lineStyle: {
                color: "rgba(255,255,255,.1	)",
                width: 1,
                type: "solid"
            },
        },
        splitLine: {
            lineStyle: {
               color: "rgba(255,255,255,.1)",
            }
        }
    }],
    series: [
		{

        type: 'bar',
        data: {{form.echart2.series|safe}},
        barWidth:'35%', 
        itemStyle: {
            normal: {
                color:'#27d08a',
                opacity: 1,
				barBorderRadius: 5,
            }
        }
    }

	]
};

        myChart.setOption(option);
        window.addEventListener("resize",function(){
            myChart.resize();
        });
    })

</script>
<script>
$(function echarts_31() {
    var myChart = echarts.init(document.getElementById('fb1'));
    option = {
	    title: [{
        text: '{{form.echarts3_1.title}}',
        left: 'center',
        textStyle: {
            color: '#fff',
			fontSize:'16'
        }
    }],
    tooltip: {                                  // 
        trigger: 'item',
        formatter: "{a} <br/>{b}: {c} ({d}%)",  // 
        position:function(p){                   //
        return [p[0] + 10, p[1] - 10];          
        }
    },
    legend: {
        top:'70%',
        itemWidth: 10,
        itemHeight: 10,
        data:{{form.echarts3_1.xAxis|safe}},
        textStyle: {
            color: 'rgba(255,255,255,.5)',
            fontSize:'8',
        }
    },
    series: [
        {
        	name:'{{form.echarts3_1.title}}',
            type:'pie',
			center: ['50%', '42%'],
            radius: ['40%', '60%'],
                  color: ['#065aab', '#066eab', '#0682ab', '#0696ab', '#06a0ab','#06b4ab','#06c8ab','#06dcab','#06f0ab'],
            label: {show:false},
			labelLine: {show:false},
            data:{{form.echarts3_1.data|safe}}
        }
    ]
};
    myChart.setOption(option);
    window.addEventListener("resize",function(){
        myChart.resize();
    });
})



</script>
<script>
$(function echarts_32() {
    var myChart = echarts.init(document.getElementById('fb2'));
    option = {
	    title: [{
        text: '{{form.echarts3_2.title}}',
        left: 'center',
        textStyle: {
            color: '#fff',
			fontSize:'16'
        }

    }],
    tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b}: {c} ({d}%)",
        position:function(p){   
            return [p[0] + 10, p[1] - 10];
        }
    },
    legend: {
        top:'70%',
        itemWidth: 10,
        itemHeight: 10,
        data:{{form.echarts3_2.xAxis|safe}},
        textStyle: {
        color: 'rgba(255,255,255,.5)',
		fontSize:'8',
        }
    },
    series: [
        {
        	name:'{{form.echarts3_2.title}}',   
            type:'pie',
			center: ['50%', '42%'],
            radius: ['40%', '60%'],
            color: ['#065aab', '#066eab', '#0682ab', '#0696ab', '#06a0ab','#06b4ab','#06c8ab','#06dcab','#06f0ab'],
            label: {show:false},
			labelLine: {show:false},
            data:{{form.echarts3_2.data|safe}}
        }
    ]
};

// 
myChart.setOption(option);
window.addEventListener("resize",function(){
    myChart.resize();
});
})



</script>
<script>
$(function echarts_33() {
    // 
    var myChart = echarts.init(document.getElementById('fb3'));
    option = {
        title: [{
        text: '{{form.echarts3_3.title}}',
        left: 'center',
        textStyle: {
            color: '#fff',
            fontSize:'16'
        }
    }],
    tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b}: {c} ({d}%)",
        position:function(p){   //
            return [p[0] + 10, p[1] - 10];
        }
    },
    legend: {
    top:'70%',
        itemWidth: 10,
        itemHeight: 10,
        data:{{form.echarts3_3.xAxis|safe}},
        textStyle: {
            color: 'rgba(255,255,255,.5)',
			fontSize:'8',
        }
    },
    series: [
        {
        	name:'{{form.echarts3_3.title}}',
            type:'pie',
			center: ['50%', '42%'],
            radius: ['40%', '60%'],
            color: ['#065aab', '#066eab', '#0682ab', '#0696ab', '#06a0ab','#06b4ab','#06c8ab','#06dcab','#06f0ab'],
            label: {show:false},
			labelLine: {show:false},
            data:{{form.echarts3_3.data|safe}}
        }
    ]
};

        myChart.setOption(option);
        window.addEventListener("resize",function(){
            myChart.resize();
        });
    })

</script>
<script>
$(function echarts_4() {
    // 
    var myChart = echarts.init(document.getElementById('echart4'));
    option = {
	    tooltip: {
        trigger: 'axis',
        axisPointer: {
            lineStyle: {
                color: '#dddc6b'
            }
        }
    },
	legend: {
        top:'0%',
        data:{{form.echart4.names|safe}},
        textStyle: {
            color: 'rgba(255,255,255,.5)',
            fontSize:'12',
        }
    },
    grid: {
        left: '10',
		top: '30',
        right: '10',
        bottom: '10',
        containLabel: true  // 
    },
    xAxis: [{
        type: 'category',
        boundaryGap: false,
        axisLabel:  {
            textStyle: {
                color: "rgba(255,255,255,.6)",
                fontSize:10,
                },
            },
        axisLine: {
			lineStyle: {
				color: 'rgba(255,255,255,.2)'
			    }
            },
        data: {{form.echart4.xAxis|safe}}
        },
        {
        axisPointer: {show: false},
        axisLine: {show: false},
        position: 'bottom',
        offset: 20,
    }],
    yAxis: [{
        type: 'value',
        axisTick: {show: false},
        axisLine: {
            lineStyle: {
                color: 'rgba(255,255,255,.1)'
            }
        },
        axisLabel:  {
            textStyle: {
                color: "rgba(255,255,255,.6)",
                fontSize:12,
            },
        },
        splitLine: {
            lineStyle: {
                 color: 'rgba(255,255,255,.1)'
            }
        }
    }],
    series: [
	{
        name: '{{form.echart4.data[0].name}}',
        data: {{form.echart4.data[0].value|safe}},
        type: 'line',
        smooth: true,
        symbol: 'circle',
        symbolSize: 5,
        showSymbol: false,
        lineStyle: {
            normal: {
				color: '#0184d5',
                width: 2
            }
        },
        areaStyle: {
            normal: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                    offset: 0,
                    color: 'rgba(1, 132, 213, 0.4)'
                }, {
                    offset: 0.8,
                    color: 'rgba(1, 132, 213, 0.1)'
                }], false),
                shadowColor: 'rgba(0, 0, 0, 0.1)',
            }
        },
			itemStyle: {
			normal: {
				color: '#0184d5',
				borderColor: 'rgba(221, 220, 107, .1)',
				borderWidth: 12
			}
		},
    },
    {
        name: '{{form.echart4.data[1].name}}',
        data: {{form.echart4.data[1].value|safe}},
        type: 'line',
        smooth: true,
        symbol: 'circle',
        symbolSize: 5,
        showSymbol: false,
        lineStyle: {
            normal: {
				color: '#00d887',
                width: 2
            }
        },
        areaStyle: {
            normal: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                    offset: 0,
                    color: 'rgba(0, 216, 135, 0.4)'
                }, {
                    offset: 0.8,
                    color: 'rgba(0, 216, 135, 0.1)'
                }], false),
                shadowColor: 'rgba(0, 0, 0, 0.1)',
            }
        },
			itemStyle: {
			normal: {
				color: '#00d887',
				borderColor: 'rgba(221, 220, 107, .1)',
				borderWidth: 12
			}
		},
    },
    {
            name: '{{form.echart4.data[2].name}}',
            data: {{ form.echart4.data[2].value | safe }},
        type: 'line',
        smooth: true,
        symbol: 'circle',
        symbolSize: 5,
        showSymbol: false,
        lineStyle: {
            normal: {
                color: '#ff0000',
                width: 2
            }
        },
        areaStyle: {
            normal: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                    offset: 0,
                    color: 'rgba(255, 0, 0, 0.4)' // Change the color for the third line
                }, {
                    offset: 0.8,
                    color: 'rgba(255, 0, 0, 0.1)' // Change the color for the third line
                }], false),
                shadowColor: 'rgba(0, 0, 0, 0.1)',
            }
        },
        itemStyle: {
            normal: {
                color: '#ff0000', // Change the color for the third line
                borderColor: 'rgba(221, 220, 107, .1)',
                borderWidth: 12
            }
        },
    },
]
};
    // 
    myChart.setOption(option);
    window.addEventListener("resize",function(){
        myChart.resize();
    });
})


</script>
<!--echarts5-->
<script>
$(function echarts_5() {
    // 
    var myChart = echarts.init(document.getElementById('echart5'));

    // 
    var categories = ['FILES', 'network', 'process'];
    var apiNames = [
        'open', 'read', 'rm_rf', 'cp', 'mv', 'delete', 'readlines', 'rm_f', 'new', 'binwrite', 'rm', 'pipe', 'popen', 'write'
       
    ];

    // 
    var data = [
        [86, 82, 26, 20, 18, 3, 3, 2, 2, 1, 1, 1, 1, 1],
        [45, 1, 1],
        [31, 27, 26, 20, 12, 7, 5, 3, 3, 2, 1],
    ];

    var option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow',
            },
        },
        legend: {
            data: categories,
        },
        grid: {
            left: '0%',
            top: '10px',
            right: '0%',
            bottom: '2%',
            containLabel: true,
        },
        xAxis: {
            type: 'category',
            data: apiNames,
            axisLine: {
                show: true,
                lineStyle: {
                    color: "rgba(255,255,255,.2)",
                    width: 1,
                    type: 'solid',
                },
            },
            axisTick: {
                show: false,
            },
            axisLabel: {
                interval: 0,
                show: true,
                rotate: 45,
                textStyle: {
                    color: "rgba(255,255,255,.6)",
                    fontSize: '12',
                },
            },
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                show: true,
                textStyle: {
                    color: "rgba(255,255,255,.6)",
                    fontSize: '12',
                },
            },
            axisLine: {
                show: true,
                lineStyle: {
                    color: "rgba(255,255,255,.1)",
                    width: 1,
                    type: 'solid',
                },
            },
            splitLine: {
                lineStyle: {
                    color: "rgba(255,255,255,.1)",
                },
            },
        },
        series: [
            {
                name: categories[0],
                type: 'bar',
                stack: 'total',
                barWidth: '35%',
                data: data[0],
            },
            {
                name: categories[1],
                type: 'bar',
                stack: 'total',
                barWidth: '35%',
                data: data[1],
            },
            {
                name: categories[2],
                type: 'bar',
                stack: 'total',
                barWidth: '35%',
                data: data[2],
            },
        ],
    };

    myChart.setOption(option);

    window.addEventListener('resize', function () {
        myChart.resize();
    });
})

</script>


</script>
<!--echarts6_1-->
<script>
    $(function echarts_61() {
        // 
        var myChart = echarts.init(document.getElementById('fb4'));
        option = {
            title: [{
                text: '{{form.echarts6_1.title}}',
                left: 'center',
                textStyle: {
                    color: '#fff',
                    fontSize: '16'
                }
            }],
            tooltip: {                                  
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)",  
                position: function (p) {                   
                    return [p[0] + 10, p[1] - 10];          
                }
            },
            legend: {
                top: '70%',
                left: '10%',
                itemWidth: 2,
                itemHeight: 2,
                data: {{ form.echarts6_1.xAxis | safe }},
        textStyle: {
        color: 'rgba(255,255,255,.5)',
        fontSize: '8',
    }
            },
        series: [
        {
            name: '{{form.echarts6_1.title}}',
            type: 'pie',
            center: ['50%', '42%'],
            radius: ['40%', '60%'],
            color: ['#3298db', '#2ecc71', '#f1c40f', '#e74c3c', '#9b59b6', '#1abc9c', '#e67e22', '#3498db', '#95a5a6'],
            label: { show: false },
            labelLine: { show: false },
            data: {{ form.echarts6_1.data | safe }}
        }
    ]
};
    myChart.setOption(option);
    window.addEventListener("resize", function () {
        myChart.resize();
    });
})



</script>
<!--echarts6_2-->
<script>
    $(function echarts_62() {
        var myChart = echarts.init(document.getElementById('fb5'));
        option = {
            title: [{
                text: '{{form.echarts6_2.title}}',
                left: 'center',
                textStyle: {
                    color: '#fff',
                    fontSize: '16'
                }

            }],
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)",
                position: function (p) {   
                    return [p[0] + 10, p[1] - 10];
                }
            },
            legend: {
                top: '70%',
                left: '10%',
                itemWidth: 2,
                itemHeight: 2,
                data: {{ form.echarts6_2.xAxis | safe }},
        textStyle: {
        color: 'rgba(255,255,255,.5)',
        fontSize: '8',
    }
         },
        series: [
        {
            name: '{{form.echarts6_2.title}}',  
            type: 'pie',
            center: ['50%', '42%'],
            radius: ['40%', '60%'],
            color: ['#3298db', '#2ecc71', '#f1c40f', '#e74c3c', '#9b59b6', '#1abc9c', '#e67e22', '#3498db', '#95a5a6'],
            label: { show: false },
            labelLine: { show: false },
            data: {{ form.echarts6_2.data | safe }}
        }
    ]
};

    myChart.setOption(option);
    window.addEventListener("resize", function () {
        myChart.resize();
    });
})



</script>
<!--echarts6_3-->
<script>
    $(function echarts_63() {
        var myChart = echarts.init(document.getElementById('fb6'));
        option = {
            title: [{
                text: '{{form.echarts6_3.title}}',
                left: 'center',
                textStyle: {
                    color: '#fff',
                    fontSize: '16'
                }
            }],
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)",
                position: function (p) {   
                    return [p[0] + 10, p[1] - 10];
                }
            },
            legend: {
                top: '70%',
                left: '10%',
                itemWidth: 2,
                itemHeight: 2,
                data: {{ form.echarts6_3.xAxis | safe }},
        textStyle: {
        color: 'rgba(255,255,255,.5)',
        fontSize: '8',
    }
    },
        series: [
        {
            name: '{{form.echarts6_3.title}}',
            type: 'pie',
            center: ['50%', '42%'],
            radius: ['40%', '60%'],
            color: ['#3298db', '#2ecc71', '#f1c40f', '#e74c3c', '#9b59b6', '#1abc9c', '#e67e22', '#3498db', '#95a5a6'],
            label: { show: false },
            labelLine: { show: false },
            data: {{ form.echarts6_3.data | safe }}
        }
    ]
};

    myChart.setOption(option);
    window.addEventListener("resize", function () {
        myChart.resize();
    });
    })

</script>
</script>
</body>
</html>
